body {
	font-family: Verdana;
}

input, select {
	display: block;
	font-size: 1.1em;
	margin-bottom: 1em;
	margin-top: 0.2em;
}

input[type='checkbox'], input[type='radio'] {
	display: inline;
}

.fout {
	color: red;
	font-weight: bold;
}